@import "../../sass/abstracts/variables";

.custom-button {
  &-dark {
    background-color: $dark-mode-elements;
  }

  outline: none;
  border: none;
  width: auto;
  height: 3.6rem;
  padding: 0 2rem;
  background-color: $light-mode-elements;
  color: inherit;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3);
  font-size: 1.7rem;
  font-family: inherit;
}
