@import "../../sass/abstracts/mixins";

.homepage {
  padding: 0 10rem;

  &__filter-tools {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include respond(big-phone) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
