@import "../../sass/abstracts/mixins";

.country-page {
  @include respond(big-phone) {
    padding: 0 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  padding: 0 10rem;
}
