@import "./sass/abstracts/variables";

.App {
  min-height: 100vh;

  ul {
    list-style: none;
    padding: 0;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}

.light {
  background-color: $light-mode-background;
  color: $light-mode-text;
}

.dark {
  background-color: $dark-mode-background;
  color: $dark-mode-text;
}
